ul {
 list-style-type:none
}

.btn {
  margin: 20px;
  text-align: center
}

li:hover {
  color: #8ac2a2;
}

li {
  margin: 10px 10px 0px 10px;
  text-align: left
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

svg {
    background-color: white;
  }
  circle {
    fill: #CAE7FF;
    stroke: #398FBD;
  }

.container {
  margin-top: 70px
}